#card {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #ECDFD5;
    top: 5%;
}

#icon {
    width: 5%;
    left: 50%;
    right: 50%;
}

#card2 {
    background-color: #3E4D5E;
    border-radius: 1pc;
    box-shadow: 5px 5px 5px black;
}

h1 {
    font-family: "Latin Modern Roman 10";
    font-style: oblique;
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
}

#photo {
    width: 100%;
}

ion-toolbar {
    --background: #F15944;
    --color: #57575C;
}

ion-item {
    --background: #3E4D5E;
    --color: white;
}

ion-input {
    --background: #ECDFD5;
    --color: #57575C;
    border-radius: 20pc;
    height: 60%;
}

ion-content {
    --background: #57575C;
}

p,
h3 {
    font-size: 130%;
    color: white;
    text-align: justify;
    font-family: "Latin Modern Roman 10";
    font-style: oblique;
}

h3 {
    text-align: center;
}

div {
    padding: 5%;
}