<ion-header [translucent]="false">
    <ion-toolbar>
        <ion-title text-center>
            <H1>Destinos Nayarit</H1>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card id="card">
        <ion-card id="card2">
            <h1>Islas Marietas</h1>
            <h3>(Isla del amor)</h3>
            <img id="photo" src="https://www.eluniversal.com.mx/sites/default/files/playa_amor_nayarit_0.jpg">
            <div>
                <p>Las Islas Marietas se encuentran a 27 km de Nuevo Vallarta, a 35 km de Puerto Vallarta y a solo 8km de Punta Mita; es hogar de aves marinas migratorias y continentales, aquí se encuentra la población más grande a nivel mundial de pájaros
                    bobos de patas amarillas, cafés y azules. Su parque Marino protege en total a 44 especies de flora y fauna, varias de ellas en peligro de extinción, por lo que es considerada también como Reserva de la Biosfera por la UNESCO.
                </p>
            </div>

        </ion-card>
    </ion-card>
</ion-content>