<ion-header [translucent]="false">
    <ion-toolbar>
        <ion-title text-center>
            <H1>Destinos Nayarit</H1>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-item>
        <ion-label positiion="floating">Buscar :</ion-label>
        <ion-input type=text [(ngModel)]="search" (keyup)="filter()"></ion-input>
    </ion-item>

    <ion-card id="card">
        <div>
            <ion-card id="card2" *ngFor="let place of places; index as i;">
                <h1>{{place.title}}</h1>
                <h3>{{place.subtitle}}</h3>
                <img id="photo" src={{place.image}}>
                <div>
                    <p>{{place.description}}</p>
                    <ion-chip color="success" *ngIf="place.active" (click)="changeStatus(i)">
                        <ion-label>Activo</ion-label>
                    </ion-chip>
                    <ion-chip color="danger" *ngIf="!place.active" (click)="changeStatus(i)">
                        <ion-label>Inactivo</ion-label>
                    </ion-chip>
                    <ion-button color="danger" (click)="deletePlace(i); filter()">Eliminar</ion-button>
                </div>

            </ion-card>
        </div>
    </ion-card>


</ion-content>